/*
body {
    background-color: cornflowerblue;
}
header {
    background-color: green;
}
nav {
    background-color: crimson;
}
main {
    background-color: white;
}
aside {
    background-color: purple;
}
*/